@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #0a0a0a;
  --font-sans: var(--font-poppins);
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans)
}

